@model IEnumerable<AutoInsuranceManagementSystem.Models.PolicyEntityModel>

@{
	ViewBag.Title = "Manage Policies";
}
<div class="form-container ">
	@if (Model != null && Model.Any())
	{
		int active = 0;
		int inactive = 0;
		<div>
			@foreach (var user in Model.Where(u => u.PolicyStatus == AutoInsuranceManagementSystem.Models.PolicyStatus.ACTIVE))
			{
				active++;
			}
			@foreach (var user in Model.Where(u => u.PolicyStatus == AutoInsuranceManagementSystem.Models.PolicyStatus.INACTIVE))
			{
				inactive++;
			}
			@if (active > 0)
			{
				<h4 class="d-flex flex-row justify-content-center">Acitve Policies</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>PolicyNumber</th>
							<th>Vehicle Manufacturer</th>
							<th>Vehicle Model</th>
							<th>CoverageAmount</th>
							<th>CoverageType</th>
							<th>StartDate</th>
							<th>EndDate</th>
							<th>Policy Status</th>
							<th>PremiumAmount</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Where(u => u.PolicyStatus == AutoInsuranceManagementSystem.Models.PolicyStatus.ACTIVE))
						{
							<tr>
								<td>@user.PolicyNumber</td>
								<td>@user.VehicleDetails?.Make</td>
								<td>@user.VehicleDetails?.Model</td>
								<td>@user.CoverageAmount</td>
								<td>@user.CoverageType</td>
								<td>@user.StartDate</td>
								<td>@user.EndDate</td>
								<td>@user.PolicyStatus</td>
								<td>@user.PremiumAmount</td>
								<td>
									<a asp-asp-controller="Customer" asp-action="RenewPolicy" asp-route-id="@user.PolicyId" class="btn btn-danger">Renew</a>
									<a asp-asp-controller="Customer" asp-action="UpdatePolicy" asp-route-id="@user.PolicyId" class="btn btn-primary">Update</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>No active policies</p>
			}

		</div>
		<div>
			@if (inactive > 0)
			{
				<h4 class="d-flex flex-row justify-content-center">Inacitve Policies</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>PolicyNumber</th>
							<th>Vehicle Manufacturer</th>
							<th>Vehicle Model</th>
							<th>CoverageAmount</th>
							<th>CoverageType</th>
							<th>StartDate</th>
							<th>EndDate</th>
							<th>Policy Status</th>
							<th>PremiumAmount</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Where(u => u.PolicyStatus == AutoInsuranceManagementSystem.Models.PolicyStatus.INACTIVE || u.PolicyStatus == null))
						{
							<tr>
								<td>@user.PolicyNumber</td>
								<td>@user.VehicleDetails?.Make</td>
								<td>@user.VehicleDetails?.Model</td>
								<td>@user.CoverageAmount</td>
								<td>@user.CoverageType</td>
								<td>@user.StartDate</td>
								<td>@user.EndDate</td>
								<td>@user.PolicyStatus</td>
								<td>@user.PremiumAmount</td>
								<td>
									<a asp-asp-controller="Customer" asp-action="RenewPolicy" asp-route-id="@user.PolicyId" class="btn btn-danger">Renew</a>
									<a asp-asp-controller="Customer" asp-action="UpdatePolicy" asp-route-id="@user.PolicyId" class="btn btn-primary">Update</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>No inactive policies</p>
			}


		</div>

	}
	else
	{
		<div class="alert alert-info" role="alert">No User Found</div>
	}
	<br />
	<a asp-asp-controller="Customer" asp-action="CreatePolicy" class="btn btn-primary">Create New Policy</a>
</div>