@model IEnumerable<AutoInsuranceManagementSystem.Models.SupportTicketEntity>

@{
	ViewBag.Title = "Manage Tickets";
}
<div class="form-container ">
	@if (Model != null && Model.Any())
	{
		int Open = 0;
		int Resolved = 0;
		<div>
			@foreach (var user in Model.Where(u => u.TicketStatus == AutoInsuranceManagementSystem.Models.TicketStatus.OPEN))
			{
				Open++;
			}
			@foreach (var user in Model.Where(u => u.TicketStatus == AutoInsuranceManagementSystem.Models.TicketStatus.RESOLVED ))
			{
				Resolved++;
			}
			@if (Open > 0)
			{
				<h4 class="d-flex flex-row justify-content-center">Pending Tickets</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>TicketNumber</th>
							<th>PolicyNumber</th>
							<th>IssueDescription</th>
							<th>TicketStatus</th>
							<th>CreatedDate</th>
							<th>ResolvedDate</th>
							<th>Agent</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Where(u => u.TicketStatus == AutoInsuranceManagementSystem.Models.TicketStatus.OPEN))
						{
							<tr>
								<td>@user.UniqueTicketNumber</td>
								<td>@user.PolicyNumber</td>
								<td>@user.IssueDescription</td>
								<td>@user.TicketStatus</td>
								<td>@user.CreatedDate</td>
								<td>@user.ResolvedDate</td>
								<td>@user.AgentId?.FullName</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>No Pending Payments</p>
			}

		</div>
		<div>
			@if (Resolved > 0)
			{
				<h4 class="d-flex flex-row justify-content-center">Ticket History</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>TicketNumber</th>
							<th>PolicyNumber</th>
							<th>IssueDescription</th>
							<th>TicketStatus</th>
							<th>CreatedDate</th>
							<th>ResolvedDate</th>
							<th>Agent</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Where(u => u.TicketStatus == AutoInsuranceManagementSystem.Models.TicketStatus.RESOLVED))
						{
							<tr>
								<td>@user.UniqueTicketNumber</td>
								<td>@user.PolicyNumber</td>
								<td>@user.IssueDescription</td>
								<td>@user.TicketStatus</td>
								<td>@user.CreatedDate</td>
								<td>@user.ResolvedDate</td>
								<td>@user.AgentId?.FullName</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>No Ticket History</p>
			}


		</div>

	}
	else
	{
		<div class="alert alert-info" role="alert">No Payments Found</div>
	}
</div>