@model IEnumerable<AutoInsuranceManagementSystem.Models.PaymentEntityModel>

@{
	ViewBag.Title = "Manage Payments";
}
<div class="form-container ">
	@if (Model != null && Model.Any())
	{
		int Pending = 0;
		int Closed = 0;
		<div>
			@foreach (var user in Model.Where(u => u.PaymentStatus == AutoInsuranceManagementSystem.Models.PaymentStatus.PENDING))
			{
				Pending++;
			}
			@foreach (var user in Model.Where(u => u.PaymentStatus == AutoInsuranceManagementSystem.Models.PaymentStatus.FAILED || u.PaymentStatus == AutoInsuranceManagementSystem.Models.PaymentStatus.SUCCESS))
			{
				Closed++;
			}
			@if (Pending > 0)
			{
				<h4 class="d-flex flex-row justify-content-center">Pending Payments</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>PaymentNumber</th>
							<th>PolicyNumber</th>
							<th>PaymentAmount</th>
							<th>PaymentStatus</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Where(u => u.PaymentStatus == AutoInsuranceManagementSystem.Models.PaymentStatus.PENDING))
						{
							<tr>
								<td>@user.UniquePaymentNumber</td>
								<td>@user.PolicyNumber</td>
								<td>@user.PaymentAmount</td>
								<td>@user.PaymentStatus</td>
								<td>
									<a asp-asp-controller="Customer" asp-action="PayNowPayment" asp-route-PolicyNumber="@user.PolicyNumber" class="btn btn-primary">Pay Now</a>
									<a asp-asp-controller="Customer" asp-action="DeclinePayment" asp-route-PolicyNumber="@user.PolicyNumber" class="btn btn-danger">Decline</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>No Pending Payments</p>
			}

		</div>
		<div>
			@if (Closed > 0)
			{
				<h4 class="d-flex flex-row justify-content-center">Payment History</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>PaymentNumber</th>
							<th>PolicyNumber</th>
							<th>PaymentAmount</th>
							<th>PaymentDate</th>
							<th>PaymentStatus</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model.Where(u => u.PaymentStatus == AutoInsuranceManagementSystem.Models.PaymentStatus.FAILED ))
						{
							<tr>
								<td>@user.UniquePaymentNumber</td>
								<td>@user.PolicyNumber</td>
								<td>@user.PaymentAmount</td>
								<td>Payment Failed</td>
								<td>@user.PaymentStatus</td>
								<td>
									<a asp-asp-controller="Customer" asp-action="PayNowPayment" asp-route-PolicyNumber="@user.PolicyNumber" class="btn btn-primary">Retry Payment</a>
								</td>
							</tr>
						}
						@foreach (var user in Model.Where(u => u.PaymentStatus == AutoInsuranceManagementSystem.Models.PaymentStatus.SUCCESS))
						{
							<tr>
								<td>@user.UniquePaymentNumber</td>
								<td>@user.PolicyNumber</td>
								<td>@user.PaymentAmount</td>
								<td>@user.PaymentDate</td>
								<td>@user.PaymentStatus</td>
								<td>No Action Required</td>

							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>No Payment History</p>
			}


		</div>

	}
	else
	{
		<div class="alert alert-info" role="alert">No Payments Found</div>
	}
</div>